<header class="site-header">
  <nav>
    <div class="logo">
    <a class="logo" href="/">Pizza Shack</a>
    </div>
    <div class="cart-button">
      <form class="form-inline" action="/order" method="GET">
        <div class="form-group mb-2">
          <label for="items-in-cart" class="view-cart"></label>
          <button type="submit" id="cart-button">View Cart (0)</button>
        </div>
      </form>
    </div>
  </nav>
</header>

