<header class="site-header">
  <nav>
    <div class="logo">
    <a class="logo" href="/">Pizza Shack</a>
    </div>
    <div class="cart-button">
      <form class="form-inline" action="/order" method="GET">
        <div class="form-group mb-2">
        </div>
      </form>
    </div>
  </nav>
</header>
