<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <main>
      <h1>Your Order</h1>
        <article>
          <tr>
            <td><img src="https://picsum.photos/250" alt='image here'></td>
            <td>
              <tr>orderList.quantity x orderList.name</tr>
              <tr>orderList.quantity x orderList.price</tr>
              <tr>Approx. orderList.waitTime</tr>
              <tr>orderList.ingredients</tr>
            </td>
          </tr>
      </article>
      <form method="POST" action="/status">
        <button type="submit" class="btn btn-info">Test</button>
      </form>
      <h1>Your Order Status: orderList.status</h1>
      <h1>Estimated Total Time: orderList.status</h1>
    </main>
  </body>
</html>
