header {
  display: flex;
  padding: 20px;
  background-color: #EEBA0B;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Knewave', cursive;
  width: 100%;
  align-items: center;
}

header nav .logo {
  color: #710000;
  font-family: 'Knewave', cursive;
  font-size: 35px;
  text-decoration: none;
}

header nav #cart-button {
  background-color: #710000;
  color: #EEBA0B;
  border-radius: 25px;
  padding: 9px;
}
