$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  // background-color: pink;
}
article.cart-items{
  // background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
}
div.one-pizza{
  display: flex;
  flex-direction: column;

  justify-content: space-around;
}
div.zero-pizza{
  display: none;
}
