.site-header {
  display: flex;
  // padding: 20px;
  background-color: #EEBA0B;
  margin-top: 120px;


  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Knewave', cursive;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
    height: 100px;
    background-color: #EEBA0B;
    padding: 20px;

    .logo {
      color: #710000;
      font-family: 'Knewave', cursive;
      font-size: 35px;
      text-decoration:none;
    }

    #cart-button {
      background-color: #710000;
      color: #EEBA0B;
      border-radius: 25px;
      padding: 9px;

    }

  }
}
