body {
  font-family: Montserrat,sans-serif;

  main {
    margin-left: 1em;
  }

  article {
    color: black;
    // -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color: black;
    h1 {
      margin: auto;
      margin-left: 15%;
      margin-top: 10px;
    }

  }
}

.order-items {
  border: 5px solid #EEBA0B;
  border-radius: 5px;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  ul {
    list-style-type:none;
    margin-top: auto;
    margin-bottom: auto;
    li {
      font-weight: bold;
      font-size: 25px;
    }
  }

  img {
    width: 300px;
  }
}
